<section>
    <h2>Du kan søke på nytt</h2>
    <p>
        Hvis du har opplysningene som manglet, kan du sende dem til oss i en
        ny søknad. Vær oppmerksom på at søknaden må sendes innen seks måneder regnet fra den datoen brillen ble
        bestilt. Du kan bruke skjemaet “tilskudd ved kjøp av briller til barn” (NAV 10-07.34), som du finner på
        nav.no. Husk å legge ved all nødvendig dokumentasjon.
    </p>
</section>