<section>
    <h2>Du kan søkje på nytt</h2>
    <p>
        Viss du har opplysningane som mangla, kan du sende dei til oss i ein
        ny søknad. Ver merksam på at søknaden må sendast innan seks månader rekna frå den datoen brilla vart
        bestilt. Du kan bruke skjemaet &quot;tilskot ved kjøp av briller til barn&quot; (NAV 10-07.34), som du finn på
        <a href="https://nav.no">nav.no.</a> Hugs å leggje ved all nødvendig dokumentasjon.
    </p>
</section>