<section>
    <h2>Har du spørsmål?</h2>
    <p>
        Du finner mer informasjon på <span class="lenke">nav.no/briller-til-barn</span>. Hvis du ikke finner svar på spørsmålet ditt, ta kontakt
        med oss.
    </p>
</section>