<section>
    <h2>Har du spørsmål?</h2>
    <p>
        Du finn meir informasjon på <span class="lenke">nav.no/briller-til-barn</span>. Dersom du ikkje finn svar på spørsmålet ditt, ta kontakt
        med oss.
    </p>
</section>