<section>
    <h2>Har du spørsmål?</h2>
    <p>
        Du finner mer informasjon på <a href="https://nav.no/briller-til-barn">nav.no/briller-til-barn.</a>
    </p>
    <p>
        På <a href="https://nav.no/kontakt">nav.no/kontakt</a> kan du chatte eller skrive til oss.
    </p>
    <p>
        Hvis du ikke finner svar på <a href="https://nav.no">nav.no</a>, kan du ringe oss på telefon 55 55 33 33 <34>
        hverdager 09.00-15.00.
    </p>
</section>