<section>
    <h2>Har du spørsmål?</h2>
    <p>
        Du finn meir informasjon på <a href="https://nav.no/briller-til-barn">nav.no/briller-til-barn</a>.
    </p>
    <p>
        På <a href="https://nav.no/kontakt">nav.no/kontakt</a> kan du chatta eller skriva til oss.
    </p>
    <p>
        Dersom du ikkje finn svar på <a href="https://nav.no">nav.no</a>, kan du ringja oss på telefon 55 55 33 33 <34>
        kvardagar 09.00-15.00.
    </p>
</section>