<section>
    <h2>Du kan klaga på vedtaket</h2>
    <p>
        Om du meiner vedtaket er feil, kan du klaga innan seks veker frå den datoen vedtaket har komme fram til deg.
        Dette følgjer av <span class="merkepenn">[set inn lovtilvising]</span>. Du finn skjema og informasjon på
        <a href="https://nav.no/klage">nav.no/klage.</a>
        {{#if klageManglendeOpplysninger}}
            <span class="merkepenn">
                Merk at klaga vil bli behandla med utgangspunkt i saka slik ho står no, så viss saka manglar
                opplysningar, er det betre å søkja på nytt.
            </span>
        {{/if}}
    </p>
    <p>
        Nav kan rettleia deg på telefon om korleis du sender ei klage. Nav-kontoret ditt kan også hjelpa deg med å
        skriva ei klage. Kontakt oss på telefon 55 55 33 33 <34> om du treng hjelp.
    </p>
    <p>
        Om du får medhald i klaga, kan du få dekt vesentlege utgifter som har vore nødvendige for å få endra
        vedtaket, til dømes hjelp frå advokat. Du kan ha krav på fri rettshjelp etter rettshjelplova. Du kan få meir
        informasjon om denne ordninga hos advokatar, statsforvaltaren eller Nav. Du kan lesa om sakskostnader i
        forvaltningsloven § 36.
    </p>
    <p>Om du sender klage i posten, må du signera klaga.</p>
    <p>
        Meir informasjon om klagerettar finn du på
        <a href="https://nav.no/klagerettigheter">nav.no/klagerettigheter.</a>
    </p>
</section>