<section>
    <h2>Du har rett til å klage</h2>
    <p>
        {{#if klageManglendeOpplysninger}}
            Viss du er usamd i grunngivinga for avslaget, kan du klage. Merk at klaga vil bli behandla med
            utgangspunkt i saka slik ho står no, så viss saka manglar opplysningar, er det betre å søkje på nytt.
        {{else}}Viss du er usamd i vedtaket, har du rett til å klage.{{/if}}
        Du kan klage innan seks veker frå du fekk vedtaket. Du finn skjema og informasjon på
        <span class="lenke">nav.no/klage</span>.
    </p>
</section>