<section class="signatur">
    <p>
        Med vennleg helsing <br />
        Nav
        {{#if viseNavAdresse}} hjelpemiddelsentral Agder</br>55 55 11 11<br/>Skytterheia 1, 4790 LILLESAND{{/if}}
        {{#if viseNavAdresseHoT}} hjelpemiddel og tilrettelegging{{/if}}
    </p>
    {{#if ingen-signatur-nodvendig}}<p>Brevet er produsert automatisk og derfor ikkje underskrive av ein saksbehandlar.</p>{{/if}}
</section>