<section class="signatur">
    <p>
        Med vennleg helsing <br />
        {{#if signaturSaksbehandler}}{{#if signaturTotrinnskontroll}}{{signaturTotrinnskontroll}}, {{/if}}{{signaturSaksbehandler}} <br />{{/if}}
        Nav
        {{#if viseNavAdresse}} hjelpemiddelsentral Agder{{/if}}
        {{#if viseNavAdresseHoT}} hjelpemiddel og tilrettelegging{{/if}}
    </p>
    {{#if ingen-signatur-nodvendig}}<p>Brevet er produsert automatisk og derfor ikkje underskrive av ein saksbehandlar.</p>{{/if}}
</section>