<div class="header">
    <div class="ikon-og-dato">
        {{> nav-logo }}
        <p>{{formaterDato brevOpprettetDato}}</p>
    </div>
    <div class="tittel-og-personinfo"><h2 class="tittel">{{tittel}}</h2></div>
</div>
<div style="min-height:1rem" class="block">Navn: {{barnetsFulleNavn}}</div>
<div style="min-height:1rem" class="block">Fødselsnummer: {{barnetsFodselsnummer}}</div>
<div style="min-height:1rem" class="block"></div>