<section>
    <h2>Du har rett til innsyn</h2>
    <p>
        Vi har dessverre ikkje høve til å vise føresett eller verje saka og tilhøyrande dokument på <span class="lenke">nav.no</span>. Du kan
        ta kontakt med oss viss du treng innsyn i saka di.
    </p>
</section>