<section>
    <h2>Du har rett til innsyn i saka di</h2>
    <p>
        Du har rett til å sjå dokumenta i saka di. Dette følgjer av forvaltningsloven § 18. Kontakt oss om du vil sjå
        dokumenta i saka di. Ta kontakt på <a href="https://nav.no/kontakt">nav.no/kontakt</a> eller på
        telefon 55 55 11 11. Du kan lesa meir om innsynsretten på
        <a href="https://nav.no/personvernerklaering">nav.no/personvernerklaering</a>.
    </p>
    <p class="merkepenn">
        Vi har dessverre ikkje høve til å vise føresett eller verje saka og tilhøyrande dokument på
        <a href="https://nav.no">nav.no.</a> Du kan ta kontakt med oss viss du treng innsyn i saka di.
    </p>
</section>