<section>
    <h2>Du har rett til innsyn i saken din</h2>
    <p>
        Du har rett til å se dokumentene i saken din. Dette følger av forvaltningsloven § 18. Kontakt oss om du vil se
        dokumentene i saken din. Ta kontakt på <a href="https://nav.no/kontakt">nav.no/kontakt</a> eller på
        telefon 55 55 11 11. Du kan lese mer om innsynsretten på
        <a href="https://nav.no/personvernerklaering">nav.no/personvernerklaering</a>.
    </p>
    <p class="merkepenn">
        Vi har dessverre ikke mulighet til å vise foresatt eller verge saken og tilhørende dokumenter på
        <a href="https://nav.no">nav.no.</a> Du kan ta kontakt med oss hvis du trenger innsyn i saken din.
    </p>
</section>