<section>
    <h2>Du har rett til innsyn</h2>
    <p>
        Vi har dessverre ikke mulighet til å vise foresatt eller verge saken og tilhørende dokumenter på <span class="lenke">nav.no</span>. Du kan
        ta kontakt med oss hvis du trenger innsyn i saken din.
    </p>
</section>