<div class="
  alert
  {{#unless inline}}
    {{#eq varsel.type "WARNING"}} warning {{/eq}}
    {{#eq varsel.type "INFO"}} info {{/eq}}
  {{/unless}}
  in-bounds">
    {{#eq varsel.type "INFO"}}
    <div class="info-circle" alt="" >
        {{> images/info-icon}}
    </div>
    {{/eq}}

    {{#eq varsel.type "WARNING"}}
    <div class="warning-icon" alt="" >
        {{> images/warning-icon}}
    </div>
    {{/eq}}
    
    <p class="typo-normal info-tekst">{{varsel.tekst.nb}}</p>
</div>
