<div class="
  alert
  {{#unless inline}}
    {{#eq varsel.type "WARNING"}} warning {{/eq}}
    {{#eq varsel.type "INFO"}} info {{/eq}}
  {{/unless}}
  in-bounds">
    {{#eq varsel.type "INFO"}}
    <img src="info-icon.png" class="info-circle" alt="" />
    {{/eq}}

    {{#eq varsel.type "WARNING"}}
    <img src="warning-icon.svg" class="warning-icon" alt="" />
    {{/eq}}
    
    <p class="typo-normal info-tekst">{{varsel.tekst.nb}}</p>
</div>
