<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charSet="UTF-8"/>
    <title>Du får ikke tilskudd til briller</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/header.bokmal}}
    <section>
        <h1>Du får ikke tilskudd til briller</h1>
        <p>Hei,</p>
        <p>Vi har avslått søknaden din om tilskudd til briller som vi mottok {{formaterDato mottattDato}}.</p>
    </section>
    <section>
        <h2>Begrunnelse for avslaget</h2>
        <p>
            Søknaden er avslått fordi vi ikke har mottatt opplysninger fra deg som vi etterspurte i et brev datert
            {{formaterDato etterspurteOpplysningerBrevDatertDato}}. Fristen for å sende inn opplysningene var tre uker fra du mottok
            brevet. Disse opplysningene mangler:
        </p>
        <p>{{fritekstSaksbehandler}}</p>
        <p>
            Søknaden er vurdert og avgjort på grunnlag av opplysninger vi har mottatt
            i saken. Ut fra disse opplysningene, kan vi ikke se at du fyller vilkårene for tilskudd til briller til barn.
            Vedtaket er gjort etter folketrygdloven § 21-3, jfr. § 10-7 a og forskrift om stønad til briller til barn.
        </p>
    </section>
    {{> barnebriller/du-kan-soke-panytt.bokmal}}
    {{> barnebriller/klage.bokmal klageManglendeOpplysninger=true}}
    {{> barnebriller/rett-til-innsyn.bokmal}}
    {{> barnebriller/har-du-sporsmaal.bokmal}}
    {{> barnebriller/kontakt-oss.bokmal}}
</body>
</html>