<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charSet="UTF-8"/>
    <title>Du får ikkje tilskot til briller</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/header.nynorsk}}
    <section>
        <h1>Du får ikkje tilskot til briller</h1>
        <p>Hei,</p>
        <p>
            Vi har avslått søknaden din om tilskot til briller som vi fekk {{formaterDato mottattDato}}.
            Vedtaket er gjort etter folketrygdlova § 21-3, jf. § 10-7 a, jf. forskrift om tilskot til briller til barn.
        </p>
    </section>
    <section>
        <h2>Grunngiving for avslaget</h2>
        <p>
            Søknaden er avslått fordi vi ikkje har fått opplysningar frå deg som vi etterspurde i eit brev datert
            {{formaterDato etterspurteOpplysningerBrevDatertDato}}. Fristen for å sende inn opplysningane var tre veker frå du fekk
            brevet. Desse opplysningane manglar:
        </p>
        <p>{{fritekstSaksbehandler}}</p>
        <p>
            Søknaden er vurdert og avgjord på grunnlag av opplysningar vi har fått
            i saka. Ut frå desse opplysningane, kan vi ikkje sjå at du fyller vilkåra for tilskot til briller til barn.
        </p>
    </section>
    {{> barnebriller/du-kan-soke-panytt.nynorsk}}
    {{> barnebriller/klage.nynorsk}}
    {{> barnebriller/rett-til-innsyn.nynorsk}}
    {{> barnebriller/har-du-sporsmaal.nynorsk}}
    {{> barnebriller/kontakt-oss.nynorsk}}
</body>
</html>