<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charSet="UTF-8"/>
    <title>Du må sende oss opplysninger</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/header.bokmal}}
    <section>
        <h1>Du må sende oss opplysninger</h1>
        <p>Hei,</p>
        <p>
            Vi har mottatt henvendelsen din om tilskudd til briller {{formaterDato mottattDato}}. Saken mangler
            opplysninger. For at vi skal kunne behandle saken, må du sende oss:
        </p>
        <p>{{fritekstSaksbehandler}}</p>
    </section>
    <section>
        <h2>Slik sender du opplysningene</h2>
        <p>
            Vi ber deg sende oss opplysningene vi mangler sammen med førstesiden som er lagt ved dette brevet. Det er
            viktig at du legger førstesiden øverst.
        </p>
    </section>
    <section>
        <h2>Frist for innsending</h2>
        <p>Du må sende oss opplysningene innen 3 uker fra du mottok dette brevet.</p>
    </section>
    <section>
        <h2>Hva skjer hvis du ikke sender opplysningene?</h2>
        <p>
            Hvis vi ikke får opplysningene innen fristen, kan saken bli avslått på grunn av manglende opplysninger. Dette
            går fram av folketrygdloven § 21-3.
        </p>
    </section>
    {{> barnebriller/kontakt-oss.bokmal}}
</body>
</html>