<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charSet="UTF-8"/>
    <title>Nav treng fleire opplysningar</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/header.nynorsk}}
    <section>
        <h1>Nav treng fleire opplysningar</h1>
        <p>Hei,</p>
        <p>
            Vi har fått søknaden din om tilskot til briller {{formaterDato mottattDato}}. Søknaden manglar
            opplysningar. For at vi skal kunne behandle søknaden, må du sende oss:
        </p>
        <p>{{fritekstSaksbehandler}}</p>
    </section>
    <section>
        <h2>Slik sender du opplysningane</h2>
        <p>
            Vi ber deg sende oss opplysningane saman med førstesida som er lagd ved dette brevet. Det er
            viktig at du legg førstesida øvst i konvolutten.
        </p>
    </section>
    <section>
        <h2>Frist for innsending</h2>
        <p>Du må sende oss opplysningane innan 3 uker frå du fekk dette brevet.</p>
    </section>
    <section>
        <h2>Kva skjer viss du ikkje sender opplysningane?</h2>
        <p>
            Viss vi ikkje får opplysningane innan fristen, kan saken bli avslått på grunn av manglande opplysningar. Dette
            går fram av folketrygdlova § 21-3.
        </p>
    </section>
    {{> barnebriller/har-du-sporsmaal.nynorsk}}
    {{> barnebriller/kontakt-oss.nynorsk}}
</body>
</html>