<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charSet="UTF-8"/>
    <title>Journalført notat</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/logo-og-bruker.bokmal barnetsFulleNavn=brukersFulleNavn barnetsFodselsnummer=brukersFodselsnummer}}
    <section>
        <h1>Journalført notat</h1>
        <h2>{{tittel}}</h2>
        {{markdown innholdMarkdown}}
    </section>
</body>
</html>