<div class="delmal">
    <div style="min-height:1rem" class="block"><strong>Du har rett til 책 klage</strong></div>
    <div style="min-height:1rem" class="block">
        Viss du er usamd i vedtaket, har du rett til 책 klage. Du kan klage innan seks veker fr책 du fekk vedtaket. Du
        finn skjema og informasjon p책 nav.no/klage
    </div>
</div>