<div class="delmal">
    <div style="min-height:1rem" class="block">
        Med vennlig hilsen<br/>Nav
        {{#if viseNavAdresse}} hjelpemiddelsentral Agder</br>55 55 11 11<br/>Skytterheia 1, 4790 LILLESAND{{/if}}
        {{#if viseNavAdresseHoT}} hjelpemidler og tilrettelegging{{/if}}
    </div>
</div>