.editor-container-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 10px solid #242424;
  padding: 10px;
}

.toolbar .left-items, .toolbar .right-items {
  display: flex;
  gap: 10px;
}

.toolbar .menyKnappParent {
  color: #000;
}

.toolbar .menyKnappParent.active {
  color: #fff;
}

.editor-container {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #fff;
}

.editor-content {
  width: 794px; /* 595pt converted to px */
  min-height: 1123px;
  transform-origin: top left;
}

.editor-content.zoomed {
  width: 650px; /* 595pt - 108pt ((64-10)*2=108) */
}

.editor-content .page {
  margin: 64pt 64pt 74pt 64pt;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 11pt;
  font-weight: normal;
  line-height: 16pt;
}
.editor-content.zoomed .page {
  margin: 30pt 10pt 74pt 10pt !important;
}

.editor-content .page .contentEditable {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 11pt;
  font-weight: normal;
  line-height: 16pt;
}

.editor-content .page .contentEditable:focus-visible {
  outline-style: none;
}
