<div class="header">
    <div class="logo-og-dato">
        {{> nav-logo.partial }}
        <p>{{commonData.dagensDato}}</p>
    </div>
    <div class="tittel-og-personinformasjon">
        <h2 class="tittel">{{commonData.tittel}}</h2>
    </div>
</div>
