<div class="delmal">
    <div style="min-height:1rem" class="block"><strong>Har du spørsmål?</strong></div>
    <div style="min-height:1rem" class="block">
        Du finn meir informasjon på nav.no/briller-til-barn. Dersom du ikkje finn svar på spørsmålet ditt, ta kontakt
        med oss.
    </div>
</div>