<div class="delmal">
    <div style="min-height:1rem" class="block"><strong>Du har rett til innsyn</strong></div>
    <div style="min-height:1rem" class="block">
        Vi har dessverre ikkje høve til å vise føresett eller verje saka og tilhøyrande dokument på nav.no. Du kan ta
        kontakt med oss viss du treng innsyn i saka di.
    </div>
</div>