<div class="delmal">
    <div style="min-height:1rem" class="block"><strong>Du har rett til å klage</strong></div>
    <div style="min-height:1rem" class="block">
        Hvis du er uenig i vedtaket, har du rett til å klage. Du kan klage innen seks uker fra du mottok vedtaket. Du
        finner skjemaer og informasjon på nav.no/klage
    </div>
</div>