<div class="delmal">
    <div style="min-height:1rem" class="block"><strong>Du har rett til innsyn</strong></div>
    <div style="min-height:1rem" class="block">
        Vi har dessverre ikke mulighet til å vise foresatt eller verge saken og tilhørende dokumenter på nav.no. Du kan
        ta kontakt med oss hvis du trenger innsyn i saken din.
    </div>
</div>